<header id="page-header">
  <div id="masthead">
    <h1><%= link_to 'Events', root_path %></h1>
    <nav>
      <p>
        <%= link_to "Tweet Us!", "http://twitter.com/aaff14b0af6f4f5" %>
      </p>
    </nav>
  </div>
</header>
